<!DOCTYPE html>
<html lang=es>
    <head>
        <meta charset="UST-8">
        <meta name="viewport" content="width=devide-width, initial">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Eduación Sexual | Analisis de Datos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/estilos.css">        
    </head>

    <body class="dashboard">
        <a href="index.html" class="trasparent">Back to menu</a>
    </body>
      

</html>